li{
  list-style: none;
  display: inline;
}
nav{
  background-color: #01426a;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.logo-pic{
  width:25%;
}
body{
  margin: 0em;
  width: 100%;
  font-family: 'Open Sans:400', sans-serif;
  background-color: #f6f5f3;
  background-image: url("pattern_gwc.png");
}
img{
  width: 50%;
  margin:auto;
  display: block;
  height:auto;
}
.sip_pic{
  float:left;
  margin: 1em;
  border-radius: 2em;
  width: 33%
}
figure{
    justify-content: center;
    margin-bottom: 0em;
}
nav ul {
  list-style: none;
  padding: 1em;
  margin: 0em;
  color: #ece81a;
  display:flex;
  justify-content: space-between;
}
hr{
  margin-inline-start: 3em;
  margin-inline-end: 3em;
  color: #01426a;
}
h1{
  text-align: center;
  color:#01426a;
}
h2{
  color:#ece81a;
  text-align: center;
}
.flex-grid{
  display:grid;
  padding-left: .5em;
  padding-right: .5em;
  grid-template-columns: repeat(3, 1fr);
}
.col{
  flex:1;
  border-radius: 1em;
  border-color: #666;
  background-color: #6eceb2;
}
.heading-text{
  color:#01426a;
  text-align: center;
  background-color:#ece81a;
  border-radius: 1em;
  overflow: hidden;
  margin-inline-start: .5em;
  margin-inline-end: .5em;
}
.nav-bar{
}
.one{
  grid-area: header;
}
.two{
  grid-area: sidebar;
}
.three{
  grid-area: main;
}
.four{
  grid-area: aside;
}

.flexbox{
  background: #6eceb2;
  border-radius: 1em;

}
.flexbox-container{
  padding-left: .25em;
  padding-right: .25em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr 2.5fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
  "header header header"
  "sidebar main aside"
  "sidebar footer footer";
}
.sec1, .sec2{
  margin-right: .5em;
}
h{
  font-family: 'Open Sans:600', sans-serif;
}
@media (max-width: 640px) {
  .flexbox-container {
    display: block;
  }
}
