
nav{
  background-color: #01426a;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
nav ul {
  list-style: none;
  padding: 1em;
  margin: 0em;
  color: #ece81a;
  display:flex;
  justify-content: space-between;
}
body{
  margin: 0em;
  width: 100%;
  font-family: 'Open Sans:400', sans-serif;
  background-color: #f6f5f3;
  background-image: url("pattern_gwc.png");
}
svg{
  display:block;
  margin: auto;
  padding-top: 20px;
}
img{
  width: 50%;
  margin:auto;
  display: block;
  height:auto;
}
hr{
  margin-inline-start: 3em;
  margin-inline-end: 3em;
  color: #01426a;
}
h1{
  text-align: center;
  color:#01426a;

  padding-left: 5px;
  padding-right: 5px;
}
h2{
  color:#ece81a;

}
figure{
    justify-content: center;
    margin-bottom: 0em;
}
.body-header{
  color:#F4364C;
}
.body-area{
  text-align: center;
}
.body-text{
  color:#01426a;
}
.space-area{
  margin-bottom: 0em;
}
.sub-head{
  text-align: center;
  color:#ece81a;
  margin-bottom: 1em;
}
.logo-pic{
  width:25%;
}
.sip_pic{
  justify-content: flex-start;
  margin: 1em;
  border-radius: 2em;
  width: 33%;
  display:grid;
}
.flex-grid{
  display:grid;
  padding-left: .5em;
  padding-right: .5em;
  grid-template-columns: repeat(3, 1fr);
}
.col{
  flex:1;
  border-radius: 1em;
  border-color: #666;
  background-color: #6eceb2;
}
.heading-text{
  color:#01426a;
  text-align: center;
  background-color:#ece81a;
  border-radius: 1em;
  overflow: hidden;
  margin-inline-start: .5em;
  margin-inline-end: .5em;
}
.icon-1{
  margin-bottom: 15px;
}

.one{
  grid-area: tile1;
  display: grid;
  justify-content: center;
}
.two{
  grid-area: tile2;
}
.three{
  grid-area: tile3;
}
.four{
  grid-area: aside;

}
.sip-text{
  justify-content: end;
  display:grid;
  color: 	#F6F5F3;
}
.flexbox{
  background: #6eceb2;
  border-radius: 1em;
}
i{
  color:#f4364c;
  justify-content:center;


}
.flexbox-container{
  padding-left: .25em;
  padding-right: .25em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
  "tile1 tile2 tile3"
  "aside aside aside"
}
.sec1, .sec2{
  margin-right: .5em;
}
h{
  font-family: 'Open Sans:600', sans-serif;
}

@media (max-width: 640px) {
  .flexbox-container {
    display: block;

  }
  .flexbox{
    margin-top:15px;
  }
  .sub-head{
    padding-bottom: .5em;
  }
  .four{
    padding-top: .5em;
    padding-bottom:.5em;
  }
}
